/* Reset mặc định */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background-image: 
    linear-gradient(180deg, rgb(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url('images/background1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 10s ease, color 10s ease;
  position: relative;
  overflow-x: hidden;
}

.container {
  text-align: center;
  background: rgba(187, 188, 250, 0.15);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(187, 188, 250, 0.5);
  /*box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);*/
  max-width: 800px;
  width: 90%;
}

h1 {
  margin-bottom: 1.5rem;
  font-family: 'Jersey 10', sans-serif;
  font-size: 5rem;
  letter-spacing: 5px;
  color: #ffffff;
}

h2 {
  margin-bottom: 0.5rem;
  font-family: 'Jersey 10', sans-serif;
  font-weight: normal;
  font-size: 5rem;
  letter-spacing: 2px;
  color: #ffffff;
}

.separator {
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  opacity: 1;
  gap: 0.5rem;
}

.gif-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.gif-name {
  margin-top: 0.5rem;
  font-family: 'Jersey 10', sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #ffffff;
  text-align: center;
}

img#gifDisplay {
  width: 450px;
  height: 450px;
  object-fit: contain;
  border-radius: 12px;
  background-color: #f1f1f100;
  transition: transform 0.3s ease;
}

.nav-button {
  width: 60px;
  height: 60px;
  background-color: #00000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background-color 0.3s;
}

.nav-button img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: filter 0.25s ease;
}

.nav-button:hover {
  transform: scale(1.2);
}

.nav-button:active img {
  transform: scale(1.2);
  filter: brightness(0.1);
}

.credits {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  z-index: 999;
}

.credits img {
  width: 40px;
  height: 40px;
}

.credits img:hover {
  filter: opacity(0.5);
}

.stats-table {
  margin: 1rem auto;
  border-collapse: collapse;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.95rem;
}

.stats-table th, .stats-table td {
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  text-align: left;
}

.stats-table th {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.0);
  text-align: justify;
}

body.dark-mode {
  background-image: url("images/bg_darkmode.jpg");
  color: #eee;
}

body.dark-mode::after {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* lớp phủ đen */
  z-index: -1;
  pointer-events: none;
}

.dark-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
  z-index: 1000;
}

body.dark-mode .dark-toggle {
  background: rgba(0, 0, 0, 1);
  color: #eee;
}
