/* Reset mặc định */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #f8f9fa, #666a6d);
  color: #333;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background: white;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 90%;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #444;
}

.gif-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.gif-name {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

img#gifDisplay {
  width: 320px;
  height: 320px;
  object-fit: contain;
  border-radius: 12px;
  /*box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  background-color: #f1f1f100; /* nền xám nhạt nếu ảnh nhỏ hơn */
  transition: transform 0.3s ease;
}

.nav-button {
  width: 60px;
  height: 60px;
  background-color: #00000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s, background-color 0.3s;
}

.nav-button img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: filter 0.2s ease;
}

.nav-button:hover {
  transform: scale(1.2);
}

.nav-button:active img {
  transform: scale(1.2);
}

